@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

.box_booking_2, .sign_up {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.box_booking_2 .head, .sign_up .head {
    text-align: center;
    padding: 23px 20px 18px 20px;
    background-color: #d60064;
    color: #fff;
}

.box_booking_2 .head h3, .sign_up .head h3 {
    font-size: 24px;
    font-size: 1.5rem;
    margin: 0;
    color: #fff;
}

.box_booking_2 .head small, .sign_up .head small {
    display: block;
}

.box_booking_2 .head a, .sign_up .head a {
    color: #fff;
    text-decoration: underline;
}

.box_booking_2 .main_contact, .sign_up .main_contact {
    padding: 25px;
}

.box_booking_2 .main_contact ul, .sign_up .main_contact ul {
    list-style: none;
    padding: 0;
}

.box_booking_2 .main_contact ul li, .sign_up .main_contact ul li {
    font-weight: 500;
    margin-bottom: 5px;
}

.box_booking_2 .main_contact ul li span, .sign_up .main_contact ul li span {
    float: right;
    font-weight: 400;
}

.box_booking_2 .main_contact ul li.total, .sign_up .main_contact ul li.total {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600;
    color: #e74747;
    text-transform: uppercase;
}

.box_booking_2 .main_contact ul li.total span, .sign_up .main_contact ul li.total span {
    font-weight: 600;
}

.box_booking_2 .form-group input, .sign_up .form-group input {
    padding-right: 40px;
}

.box_booking_2 .form-group i, .sign_up .form-group i {
    font-size: 16px;
    font-size: 1rem;
    position: absolute;
    right: 3px;
    top: 12px;
    color: #ccc;
    width: 25px;
    height: 25px;
    display: block;
    font-weight: 400 !important;
}

.box_booking_2 .form-group i.icon_mail, .sign_up .form-group i.icon_mail {
    top: 10px;
}

.box_booking_2.style_2 .head {
    text-align: left;
    padding: 15px 20px 12px 25px;
}

.box_booking_2.style_2 .head h3 {
    font-size: 21px;
    font-size: 1.3125rem;
}

.box_booking_2.style_2 .main_contact {
    padding: 20px 25px 10px 25px;
}

.box_booking_2.style_2 .form-group input {
    padding-right: 10px;
}

.sign-in-wrapper {
    position: relative;
    height: 100%;
}

a.social_bt {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    min-width: 200px;
    margin-bottom: 15px;
    display: block;
    padding: 12px;
    line-height: 1;
    position: relative;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

a.social_bt:hover {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}

a.social_bt.facebook {
    background: #3B5998 url(../assets/img/Facebook__logo.svg) 10px center no-repeat;
}

a.social_bt.google {
    background: #444 url(../assets/img/Google__G__Logo.svg) 10px center no-repeat;
}

a.btn_1.full-width, .btn_1.full-width {
    display: block;
    width: 100%;
    text-align: center;
}

element.style {}

a.btn_1.full-width, .btn_1.full-width {
    display: block;
    width: 100%;
    text-align: center;
}

a.btn_1, .btn_1 {
    border: none;
    background: #647283;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 8px 25px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    line-height: normal;
}

a.btn_1:focus, .btn_1:focus {
    outline: none;
}

a.btn_1:hover, .btn_1:hover {
    -webkit-filter: brightness(115%);
    filter: brightness(115%);
}

a.btn_1.full-width, .btn_1.full-width {
    display: block;
    width: 100%;
    text-align: center;
}